<div class="logo">
<h1 id='logo'>
  <%= link_to Refinery::Core.site_name, refinery.root_path %>
</h1>
</div>


<div class="panel">
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>

</div>

<div class="search">
<%= form_tag refinery.search_path do -%>
  <%= text_field_tag :query, {}, {:type => "search",
                     :placeholder => "Search site for...",
                     :value => (params[:query] if params[:query])} %>
  <%= submit_tag 'Go' %>
<% end %>

</div>
